body{background-image:url('final4.jpg'); /*Background image retrieved from http://www.dek-d.com/board/view.php?id=968396 */
	
}

#head {
	margin:0px auto;
	border:6px #FFFFFF solid;
	background-color:#F06;
	border-radius: 30px;
	line-height:3em;
	text-align:center;
	width:50%;
	background-image:url('immi.jpg');
	background-repeat:no-repeat;
	background-size:140px 120px;
	background-position:right;
	color:#FF6;
	font-family:"Times New Roman", Times, serif;
	font-size:2.5em;
	font-weight:bold;
    margin-bottom:20px;
}
li {
	display:inline;
	padding-right:20px;
}
ul {
	margin-left:350px;
	display:block;
	background-color:#9FC;
	border:4px #F06 solid;
	width:60%;
	border-radius: 15px;
	
	text-align:center;
	margin:0px auto;
	margin-bottom:10px;
}
h2{color:#FF6;}
a:hover {
	color:#0CE;
}
img:hover
{
background-color:#F06; 
}
a {
	font-weight:normal;
	font-family:"Times New Roman", Times, serif;
	font-size:2em;
	color:#F06;
}

#contact{width:55%;
     line-height:2em;
     background-color:#F06;
     margin:0px auto;
     border:8px white solid;
	 padding:8px 8px 8px 8px;
	 border-radius:30px;
	 padding-bottom:80px;
	 padding-right:30px;
	 padding-left:30px;
	 color:#FFFFFF;
	 font-size:14pt;
	 text-align:center;
	 
	}

#box3 {
	text-align:center;
	border: 4px solid #FFFFFF;
	width:60%;
	margin:0px auto;
	background-color:#F06;
	margin-top:10px;
	border-radius:20px;
	color:#FF6;
	margin-top:30px;
	font-weight:bold;
}